:root {
}

body {
  margin: 0;
  height: 100vh;
  /* position: absolute; */
  /* background-color: #aaa; */
}

#container {
  width: 100%;
  /* height: 300px; */
  background-color: #aaa;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* #container:hover .icon {
  scale: var(--scaleFactor);
  transition: scale 200ms;
} */

.icon {
  /* position: absolute; */
  width: var(--width);
  height: var(--height);
  background-color: #0a0;
  margin: 0 10px;
  transition: width 100ms, height 100ms;
}

/* .icon:hover {
  width: 200px;
  height: 200px;
  transition: width 200ms, height 200ms;
} */

.big-icon {
  width: 150px;
  height: 150px;
  background-color: blue;
}
